//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 03 16:01:43 2020
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

